@import "tailwindcss";

@layer base {
  * {
    border-color: #27272a;
  }
  body {
    background-color: #080808;
    color: #d4d4d8;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}


